#Windowsによって作られるサムネイルを無視
Thumbs.db
#Visual Studioによって作られるファイルを無視
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
*.opensdf
*.sdf
obj/
[Rr]elease*/
_ReSharper*/

/enc_temp_folder/
/EventGetAnalyzeBuild/
/#Release/
/.vs/
/simstring-1.0/

/opencv/
/tesseract/
/vcpkg*/
/win32-darkmode-master/



