# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Programing\UmaCruise\UmaCruise\ codebase based on best match to current usage at 2021/05/02
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference

root = true

[*.{c,cc,cpp,cxx,h,hh,hpp,hxx}]
charset = utf-8
